__pycache__/
     *.pyc
     *.pyo
     *.pyd
     .Python
     env/
     venv/
     .env
     *.log
     .dockerignore
     *.vs
# Editor directories and files
.vscode/*
!.vscode/extensions.json
/services/.vs/services/CopilotIndices/17.14.786.1071
/services/.vs
